QLHS_DR/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EEMC_DR_Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EEMC_DR_Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskAttachedFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskAttachedFileDTO" nillable="true" type="tns:TaskAttachedFileDTO" />
  <xs:complexType name="ArrayOfTaskAttachedFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskAttachedFileDTO" nillable="true" type="tns:TaskAttachedFileDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskAttachedFileDTO" nillable="true" type="tns:ArrayOfTaskAttachedFileDTO" />
</xs:schema>