QLHS_DR/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://EEMC_DR_Service.Wcf" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://EEMC_DR_Service.Wcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://EEMC_DR_Service.Wcf/Imports">
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd0" namespace="http://EEMC_DR_Service.Wcf" />
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EEMCDatabaseLibrary.Model.Database.AutoGen" />
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EEMCDatabaseLibrary.Model.Database.DataType" />
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EEMC_DR_Service.Model" />
      <xsd:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEEMCDRWcfService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserContacts" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserECPrKeyFor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserECPrKeyFor" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserECPrKeyFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserECPrKeyForResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMessages" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatus" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserLastOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLastOnline" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserLastOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLastOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadMessagesFromMessageId_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMessagesFromMessageId" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadMessagesFromMessageId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMessagesFromMessageIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasks" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddTaskAttachedFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskAttachedFile" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddTaskAttachedFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskAttachedFileResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTasksFromTaskId_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasksFromTaskId" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTasksFromTaskId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTasksFromTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_IsExistTaskName_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistTaskName" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_IsExistTaskName_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistTaskNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTasks" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteTaskAttachedFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskAttachedFiles" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteTaskAttachedFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskAttachedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddUserTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddUserTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetServerDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDateTime" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetServerDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetTaskDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskDocuments" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetTaskDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLog" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AddLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLogResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissions" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetTaskPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskPermissions" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetTaskPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPrintableUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintableUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPrintableUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintableUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetPrintableUsersInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPrintableUsersInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetPrintableUsersInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPrintableUsersInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteUserTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_DeleteUserTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AssignUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignUser" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_AssignUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTask_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_LoadTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_RevokeTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:RevokeTasks" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_RevokeTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RevokeTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_TryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogin" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_TryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetProcessingUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetProcessingUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetSeenUsersInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeenUsersInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetSeenUsersInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeenUsersInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPrintedUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintedUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_GetPrintedUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintedUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetSeenUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSeenUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetSeenUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSeenUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetPrintedUserInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPrintedUserInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_SetPrintedUserInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPrintedUserInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_RemoveProcessingUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProcessingUser" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_RemoveProcessingUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProcessingUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_HasSeenInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:HasSeenInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_HasSeenInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasSeenInTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_IsProcessingInTask_InputMessage">
    <wsdl:part name="parameters" element="tns:IsProcessingInTask" />
  </wsdl:message>
  <wsdl:message name="IEEMCDRWcfService_IsProcessingInTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsProcessingInTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IEEMCDRWcfService">
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserByName" message="tns:IEEMCDRWcfService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserByNameResponse" message="tns:IEEMCDRWcfService_GetUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserById" message="tns:IEEMCDRWcfService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserByIdResponse" message="tns:IEEMCDRWcfService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserContacts">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserContacts" message="tns:IEEMCDRWcfService_GetUserContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserContactsResponse" message="tns:IEEMCDRWcfService_GetUserContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SendMessage" message="tns:IEEMCDRWcfService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SendMessageResponse" message="tns:IEEMCDRWcfService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserECPrKeyFor">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserECPrKeyFor" message="tns:IEEMCDRWcfService_GetUserECPrKeyFor_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserECPrKeyForResponse" message="tns:IEEMCDRWcfService_GetUserECPrKeyFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/Logout" message="tns:IEEMCDRWcfService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LogoutResponse" message="tns:IEEMCDRWcfService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadMessages" message="tns:IEEMCDRWcfService_LoadMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadMessagesResponse" message="tns:IEEMCDRWcfService_LoadMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserStatus" message="tns:IEEMCDRWcfService_GetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserStatusResponse" message="tns:IEEMCDRWcfService_GetUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLastOnline">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserLastOnline" message="tns:IEEMCDRWcfService_GetUserLastOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserLastOnlineResponse" message="tns:IEEMCDRWcfService_GetUserLastOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMessagesFromMessageId">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadMessagesFromMessageId" message="tns:IEEMCDRWcfService_LoadMessagesFromMessageId_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadMessagesFromMessageIdResponse" message="tns:IEEMCDRWcfService_LoadMessagesFromMessageId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTasks">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTasks" message="tns:IEEMCDRWcfService_LoadTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTasksResponse" message="tns:IEEMCDRWcfService_LoadTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddTask" message="tns:IEEMCDRWcfService_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddTaskResponse" message="tns:IEEMCDRWcfService_AddTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTaskAttachedFile">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddTaskAttachedFile" message="tns:IEEMCDRWcfService_AddTaskAttachedFile_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddTaskAttachedFileResponse" message="tns:IEEMCDRWcfService_AddTaskAttachedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTasksFromTaskId">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTasksFromTaskId" message="tns:IEEMCDRWcfService_LoadTasksFromTaskId_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTasksFromTaskIdResponse" message="tns:IEEMCDRWcfService_LoadTasksFromTaskId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistTaskName">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/IsExistTaskName" message="tns:IEEMCDRWcfService_IsExistTaskName_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/IsExistTaskNameResponse" message="tns:IEEMCDRWcfService_IsExistTaskName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTasks">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteTasks" message="tns:IEEMCDRWcfService_DeleteTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteTasksResponse" message="tns:IEEMCDRWcfService_DeleteTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskAttachedFiles">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteTaskAttachedFiles" message="tns:IEEMCDRWcfService_DeleteTaskAttachedFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteTaskAttachedFilesResponse" message="tns:IEEMCDRWcfService_DeleteTaskAttachedFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddUserTask" message="tns:IEEMCDRWcfService_AddUserTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddUserTaskResponse" message="tns:IEEMCDRWcfService_AddUserTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDateTime">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetServerDateTime" message="tns:IEEMCDRWcfService_GetServerDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetServerDateTimeResponse" message="tns:IEEMCDRWcfService_GetServerDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskDocuments">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetTaskDocuments" message="tns:IEEMCDRWcfService_GetTaskDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetTaskDocumentsResponse" message="tns:IEEMCDRWcfService_GetTaskDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserTask" message="tns:IEEMCDRWcfService_GetUserTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserTaskResponse" message="tns:IEEMCDRWcfService_GetUserTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLog">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddLog" message="tns:IEEMCDRWcfService_AddLog_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AddLogResponse" message="tns:IEEMCDRWcfService_AddLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissions">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPermissions" message="tns:IEEMCDRWcfService_GetPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPermissionsResponse" message="tns:IEEMCDRWcfService_GetPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskPermissions">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetTaskPermissions" message="tns:IEEMCDRWcfService_GetTaskPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetTaskPermissionsResponse" message="tns:IEEMCDRWcfService_GetTaskPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserInTask" message="tns:IEEMCDRWcfService_GetUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetUserInTaskResponse" message="tns:IEEMCDRWcfService_GetUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintableUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPrintableUserInTask" message="tns:IEEMCDRWcfService_GetPrintableUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPrintableUserInTaskResponse" message="tns:IEEMCDRWcfService_GetPrintableUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPrintableUsersInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetPrintableUsersInTask" message="tns:IEEMCDRWcfService_SetPrintableUsersInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetPrintableUsersInTaskResponse" message="tns:IEEMCDRWcfService_SetPrintableUsersInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteUserTask" message="tns:IEEMCDRWcfService_DeleteUserTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/DeleteUserTaskResponse" message="tns:IEEMCDRWcfService_DeleteUserTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignUser">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AssignUser" message="tns:IEEMCDRWcfService_AssignUser_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/AssignUserResponse" message="tns:IEEMCDRWcfService_AssignUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTask" message="tns:IEEMCDRWcfService_LoadTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/LoadTaskResponse" message="tns:IEEMCDRWcfService_LoadTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RevokeTasks">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/RevokeTasks" message="tns:IEEMCDRWcfService_RevokeTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/RevokeTasksResponse" message="tns:IEEMCDRWcfService_RevokeTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetLogs" message="tns:IEEMCDRWcfService_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetLogsResponse" message="tns:IEEMCDRWcfService_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/TryLogin" message="tns:IEEMCDRWcfService_TryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/TryLoginResponse" message="tns:IEEMCDRWcfService_TryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/ChangePassword" message="tns:IEEMCDRWcfService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/ChangePasswordResponse" message="tns:IEEMCDRWcfService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/UpdateTask" message="tns:IEEMCDRWcfService_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/UpdateTaskResponse" message="tns:IEEMCDRWcfService_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessingUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetProcessingUserInTask" message="tns:IEEMCDRWcfService_GetProcessingUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetProcessingUserInTaskResponse" message="tns:IEEMCDRWcfService_GetProcessingUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeenUsersInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetSeenUsersInTask" message="tns:IEEMCDRWcfService_GetSeenUsersInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetSeenUsersInTaskResponse" message="tns:IEEMCDRWcfService_GetSeenUsersInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintedUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPrintedUserInTask" message="tns:IEEMCDRWcfService_GetPrintedUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/GetPrintedUserInTaskResponse" message="tns:IEEMCDRWcfService_GetPrintedUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSeenUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetSeenUserInTask" message="tns:IEEMCDRWcfService_SetSeenUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetSeenUserInTaskResponse" message="tns:IEEMCDRWcfService_SetSeenUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPrintedUserInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetPrintedUserInTask" message="tns:IEEMCDRWcfService_SetPrintedUserInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/SetPrintedUserInTaskResponse" message="tns:IEEMCDRWcfService_SetPrintedUserInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProcessingUser">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/RemoveProcessingUser" message="tns:IEEMCDRWcfService_RemoveProcessingUser_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/RemoveProcessingUserResponse" message="tns:IEEMCDRWcfService_RemoveProcessingUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasSeenInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/HasSeenInTask" message="tns:IEEMCDRWcfService_HasSeenInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/HasSeenInTaskResponse" message="tns:IEEMCDRWcfService_HasSeenInTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsProcessingInTask">
      <wsdl:input wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/IsProcessingInTask" message="tns:IEEMCDRWcfService_IsProcessingInTask_InputMessage" />
      <wsdl:output wsaw:Action="http://EEMC_DR_Service.Wcf/IEEMCDRWcfService/IsProcessingInTaskResponse" message="tns:IEEMCDRWcfService_IsProcessingInTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>