QLHS_DR/Connected Services/ServiceReference1/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EEMCDatabaseLibrary.Model.Database.DataType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EEMCDatabaseLibrary.Model.Database.DataType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://192.168.11.12:8888/EEMCDRWcfService/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ConfigurationKey">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEFAULT_PASSWORD" />
      <xs:enumeration value="USER_DATA_PATH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigurationKey" nillable="true" type="tns:ConfigurationKey" />
  <xs:simpleType name="LogType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="LOGIN" />
      <xs:enumeration value="LOGOUT" />
      <xs:enumeration value="CREATE_USER" />
      <xs:enumeration value="EDIT_USER" />
      <xs:enumeration value="DELETE_USER" />
      <xs:enumeration value="LOCK_USER" />
      <xs:enumeration value="UNLOCK_USER" />
      <xs:enumeration value="CHANGE_PERMISSION" />
      <xs:enumeration value="PRINT_DOCUMENT" />
      <xs:enumeration value="SIGN_DOCUMENT" />
      <xs:enumeration value="CREATE_TASK" />
      <xs:enumeration value="MODIFY_TASK" />
      <xs:enumeration value="DELETE_TASK" />
      <xs:enumeration value="ADD_USER_TO_TASK" />
      <xs:enumeration value="ADD_DOCUMENT_TO_TASK" />
      <xs:enumeration value="DELETE_DOCUMENT" />
      <xs:enumeration value="START_SERVICE" />
      <xs:enumeration value="STOP_SERVICE" />
      <xs:enumeration value="RESTART_SERVICE" />
      <xs:enumeration value="SETUP_SSL" />
      <xs:enumeration value="SETUP_USER_DATA_DIR" />
      <xs:enumeration value="REVOKE_TASK" />
      <xs:enumeration value="CHANGE_DEFAULT_PASSWORD" />
      <xs:enumeration value="CHANGE_USER_PASSWORD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:simpleType name="MessageStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Own" />
          <xs:enumeration value="Edited" />
          <xs:enumeration value="Deleted" />
          <xs:enumeration value="FirstInBlock" />
          <xs:enumeration value="FirstInReply" />
          <xs:enumeration value="Liked" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="MessageStatus" nillable="true" type="tns:MessageStatus" />
  <xs:simpleType name="UserStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DEACTIVED">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ACTIVED">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ONLINE">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OFFLINE">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NOT_LOGGED_YET">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus" />
  <xs:simpleType name="TaskPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="High" />
      <xs:enumeration value="Urgent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskPriority" nillable="true" type="tns:TaskPriority" />
  <xs:simpleType name="TaskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="NeedAssistance" />
      <xs:enumeration value="Deferred" />
      <xs:enumeration value="Revoked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskStatus" nillable="true" type="tns:TaskStatus" />
  <xs:simpleType name="PermissionType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CREATE_USER">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EDIT_USER">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DELETE_USER">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="LOCK_USER">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="UNLOCK_USER">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VIEW_LOG">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PRINT_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="START_SERVICE">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="STOP_SERVICE">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VIEW_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SEND_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="RECEIVE_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="REVIEW_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4096</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SIGN_DOCUMENT">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8192</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CHANGE_PERMISSION">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16384</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CREATE_TASK">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32768</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DELETE_TASK">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65536</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ADD_USER_TO_TASK">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">131072</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ADD_DOCUMENT_TO_TASK">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">262144</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="PermissionType" nillable="true" type="tns:PermissionType" />
  <xs:simpleType name="ECKeyPurpose">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MESSAGE" />
      <xs:enumeration value="FILE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ECKeyPurpose" nillable="true" type="tns:ECKeyPurpose" />
  <xs:simpleType name="LoginStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAD_INPUT" />
      <xs:enumeration value="UNKNOWN_USER" />
      <xs:enumeration value="WRONG_PASSWORD" />
      <xs:enumeration value="USER_LOCKED" />
      <xs:enumeration value="MAX_ATTEMPT" />
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="FAILED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginStatusType" nillable="true" type="tns:LoginStatusType" />
</xs:schema>